body {
	background-color: #000000;
}
.nav-link {
	font-size: 15px;
}

#navi {
	color: #ffffff;
}
#navi:hover {
	color: #d60f0f;
}

.menu {
	height: 100px;
}

.navbar-brand {
	font-size: 20px;
}
#pet_img {
	width: 100%;
}
.promo {
	text-align: center;
}

.banner {
	display: flex;
	flex-direction: column;
	padding-bottom: 40px;
	width: 100%;
	height: 100%;

	text-align: center;
	display: inline-block;
	color: #fff;
}

.btn-start {
	background-color: #fff;
	border-radius: 30px;
	padding: 14px 3vw;
	font-weight: 600;
	letter-spacing: 1px;
	margin-top: 15px;
}

.btn-start:hover {
	color: #000;
}

.btn-login {
	background-color: #fff;
	color: #ffffff;
	border-radius: 30px;
	border-color: #ffffff;
	padding: 14px 3vw;
	font-weight: 600;
	letter-spacing: 1px;
	margin-top: 15px;
}

.btn-login:hover {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}

.feed_button {
	margin-top: 5px;
}

.popup-wrap {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	top: 0px;
	left: 0px;
	content: "";
	background: rgba(0, 0, 0, 0.85);
}

.popup-box {
	height: 250px;
	width: 600px;
	padding: 50px;
	transform: translate(-50%, -50%) scale(0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	background: #121212;
	text-align: center;
}

.popup-box-minting {
	height: 230px;
	width: 800px;
	padding: 50px;
	transform: translate(-50%, -50%) scale(0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	background: #121212;
	text-align: center;
}

.popup-box-mint {
	height: 800px;
	width: 600px;
	padding: 50px;
	transform: translate(-50%, -50%) scale(0.5);
	position: absolute;
	top: 50%;
	left: 50%;
	box-shadow: 0px 2px 16px rgba(0, 0, 0, 0.5);
	border-radius: 20px;
	background: #121212;
	text-align: center;
}

.transform-in,
.transform-out {
	display: block;
	-webkit-transition: all ease 0.5s;
	transition: all ease 0.5s;
}

.transform-in {
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
}

.transform-out {
	-webkit-transform: translate(-50%, -50%) scale(0.5);
	transform: translate(-50%, -50%) scale(0.5);
}

#load {
	position: absolute;
	width: 600px;
	height: 36px;
	left: 50%;
	top: 40%;
	margin-left: -300px;
	overflow: visible;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: default;
}

#load div {
	position: absolute;
	width: 20px;
	height: 36px;
	opacity: 0;
	font-family: Helvetica, Arial, sans-serif;
	animation: move 2.3s linear infinite;
	-o-animation: move 2.3s linear infinite;
	-moz-animation: move 2.3s linear infinite;
	-webkit-animation: move 2.3s linear infinite;
	transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-webkit-transform: rotate(180deg);
	color: #35c4f0;
}

#load div:nth-child(2) {
	animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
}
#load div:nth-child(3) {
	animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
}
#load div:nth-child(4) {
	animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
}
#load div:nth-child(5) {
	animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
}
#load div:nth-child(6) {
	animation-delay: 0.5s;
	-o-animation-delay: 0.5s;
	-moz-animation-delay: 0.5s;
	-webkit-animation-delay: 0.5s;
}
#load div:nth-child(7) {
	animation-delay: 0.6s;
	-o-animation-delay: 0.6s;
	-moz-animation-delay: 0.6s;
	-webkit-animation-delay: 0.6s;
}

#load div:nth-child(8) {
	animation-delay: 0.7s;
	-o-animation-delay: 0.7s;
	-moz-animation-delay: 0.7s;
	-webkit-animation-delay: 0.7s;
}

#load div:nth-child(9) {
	animation-delay: 0.8s;
	-o-animation-delay: 0.8s;
	-moz-animation-delay: 0.8s;
	-webkit-animation-delay: 0.8s;
}

#load div:nth-child(10) {
	animation-delay: 0.9s;
	-o-animation-delay: 0.9s;
	-moz-animation-delay: 0.9s;
	-webkit-animation-delay: 0.9s;
}

@keyframes move {
	0% {
		left: 0;
		opacity: 0;
	}
	35% {
		left: 41%;
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 1;
	}
	65% {
		left: 59%;
		-moz-transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 1;
	}
	100% {
		left: 100%;
		-moz-transform: rotate(-180deg);
		-webkit-transform: rotate(-180deg);
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);
		opacity: 0;
	}
}

@-moz-keyframes move {
	0% {
		left: 0;
		opacity: 0;
	}
	35% {
		left: 41%;
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 1;
	}
	65% {
		left: 59%;
		-moz-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 1;
	}
	100% {
		left: 100%;
		-moz-transform: rotate(-180deg);
		transform: rotate(-180deg);
		opacity: 0;
	}
}

@-webkit-keyframes move {
	0% {
		left: 0;
		opacity: 0;
	}
	35% {
		left: 41%;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 1;
	}
	65% {
		left: 59%;
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 1;
	}
	100% {
		left: 100%;
		-webkit-transform: rotate(-180deg);
		transform: rotate(-180deg);
		opacity: 0;
	}
}

@-o-keyframes move {
	0% {
		left: 0;
		opacity: 0;
	}
	35% {
		left: 41%;
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 1;
	}
	65% {
		left: 59%;
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
		opacity: 1;
	}
	100% {
		left: 100%;
		-o-transform: rotate(-180deg);
		transform: rotate(-180deg);
		opacity: 0;
	}
}

.success-animation {
	margin-top: 10px;
	margin-bottom: 10px;
}

.checkmark {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	display: block;
	stroke-width: 2;
	stroke: #1cc266;
	stroke-miterlimit: 10;
	box-shadow: inset 0px 0px 0px #4bb71b;
	animation: fill 0.4s ease-in-out 0.4s forwards, scale 0.3s ease-in-out 0.9s both;
	position: relative;
	margin: 0 auto;
}
.checkmark__circle {
	stroke-dasharray: 166;
	stroke-dashoffset: 166;
	stroke-width: 2;
	stroke-miterlimit: 10;
	stroke: #109b3e;
	fill: #121212;
	animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark__check {
	transform-origin: 50% 50%;
	stroke-dasharray: 48;
	stroke-dashoffset: 48;
	animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}

@keyframes stroke {
	100% {
		stroke-dashoffset: 0;
	}
}

@keyframes scale {
	0%,
	100% {
		transform: none;
	}

	50% {
		transform: scale3d(1.1, 1.1, 1);
	}
}

@keyframes fill {
	100% {
		box-shadow: inset 0px 0px 0px 30px #4bb71b;
	}
}

.btn-primary {
	background-color: #bb86fc;
	border-color: #bb86fc;
}

.btn-primary:hover {
	background-color: #bb86fc;
	border-color: #bb86fc;
}

.btn-bg.bg-2 .btn-2 button {
	margin-top: 20px;
	width: 100px;
	height: 40px;
	color: #ffffff;
	background: #121212;
	border: none;
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
}
.btn-bg.bg-2 .btn-2 button:hover {
	background: transparent;
	color: #21b935;
}
.btn-bg.bg-2 .btn-2 button:hover:before,
.btn-bg.bg-2 .btn-2 button:hover:after {
	-webkit-transition: all 0.7s ease;
	transition: all 0.7s ease;
	width: 100%;
}
.btn-bg.bg-2 .btn-2 button:before,
.btn-bg.bg-2 .btn-2 button:after {
	content: "";
	position: absolute;
	top: 0;
	left: 0px;
	width: 0px;
	height: 3px;
	background: #21b935;
	transition: all 0.4s ease;
}
.btn-bg.bg-2 .btn-2 button:after {
	top: inherit;
	left: inherit;
	bottom: 0;
	right: 0;
}

#wrap {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	overflow: hidden;
}
#wrap canvas {
	position: absolute;
	left: 50%;
	top: 50%;
	width: 100px;
	height: 100px;
	margin: -250px 0 0 -250px;
	-outline: 1px solid #fff;
}

#reminder {
	margin-top: 150px;
	position: relative;
	color: #ffffff;
}

#reminder_minting {
	color: #ffffff;
	font-family: "Roboto", Arial, sans-serif;
	background: 0 0;
	font-weight: 700;
	font-size: 30px;
	line-height: 60px;
	display: inline-block;
}

#newNFTMinted {
	font-size: 30px;
	margin-bottom: 20px;
	position: relative;
	color: #ffffff;
}

#tsparticles {
	position: fixed;
	z-index: -999999;
}

.card-image > img {
	display: block;
	width: 100%;
}

.card-list {
	width: 100%;
	display: block;
	padding: 0;
	font-size: 0;
	text-align: center;
	list-style: none;
}

.card {
	background-color: #7c7c7c;
	display: inline-block;
	border-radius: 20px;
	width: 90%;
	max-width: 20rem;
	margin: 1rem;
	font-size: 1rem;
	text-decoration: none;
	overflow: hidden;
	box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, 0.5);
	transition: transform 0.1s ease-in-out, box-shadow 0.1s;
}

.card:hover {
	transform: translateY(-0.5rem) scale(1.0125);
	box-shadow: 0 0.5em 3rem -1rem rgba(0, 0, 0, 0.5);
}

.card-bottom {
	background-color: #7c7c7c;
	overflow: auto;
}

.description {
	font-size: 12px;
	margin-left: 5px;
	margin-bottom: 0px;
	color: #ffffff;
	text-align: left;
}

.link {
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	text-transform: uppercase;
	text-decoration: none;
	line-height: 1.2;
	overflow: hidden;
	margin-left: 25px;
	margin-right: 25px;
}

.char {
	display: inline-block;
	width: 7px;
	position: relative;
	color: transparent;
}

.char::before,
.char::after {
	content: attr(data-char);
	position: absolute;
	top: 0;
	left: 0;
	color: #ffffff;
	transition: all 0.3s cubic-bezier(0.858, 0.01, 0.068, 0.99);
	transition-delay: calc(0.03s * var(--char-index));
}

.char::after {
	transform: translateY(-100%);
}

.link:hover .char::before {
	transform: translateY(100%);
}

.link:hover .char::after {
	transform: translateY(0);
}

.link-wrapper {
	position: relative;
	line-height: 35px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 10px;
}

.link-wrapper .animated-link {
	display: block;
	width: 280px;
	height: 40px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
}

.link-wrapper .animated-link .text {
	color: #ffffff;
	position: relative;
	top: -37px;
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 3px;
}

.link-wrapper .animated-link .shape {
	fill: transparent;
	stroke: #ffffff;
	stroke-width: 5px;
	stroke-dasharray: 100 310;
	stroke-dashoffset: -304;
	transition: all 0.5s ease;
}

.link-wrapper .animated-link:hover .shape {
	stroke-width: 2px;
	stroke-dasharray: 550;
	stroke-dashoffset: 0;
}

.svg_index_button {
	position: absolute;
	top: 50%;
	left: 50%;
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 24px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	letter-spacing: 4px;
	width: 400px;
	height: 70px;
	line-height: 70px;
}
.svg_index_button:hover {
	color: #ffffff;
}
.svg_index_button svg,
.svg_index_button svg rect {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
}
.svg_index_button svg rect {
	stroke: #ffffff;
	stroke-dasharray: 70 400;
	stroke-dashoffset: 540;
	stroke-width: 4;
	transition: 1s;
}
.svg_index_button:hover svg rect {
	stroke: rgb(255, 255, 255);
	stroke-dasharray: 470 0;
	stroke-dashoffset: 0;
}

#myVideo {
	z-index: -1;
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
}

.svg_index_button_logout {
	margin-top: 50px;
	margin-right: -50px;
	text-align: center;
	transform: translate(-50%, -50%);
	font-size: 17px;
	text-transform: uppercase;
	text-decoration: none;
	color: #ffffff;
	letter-spacing: 3px;
	width: 150px;
	height: 50px;
	line-height: 50px;
}
.svg_index_button_logout:hover {
	color: #ffffff;
}
.svg_index_button_logout svg,
.svg_index_button_logout svg rect {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	fill: transparent;
}
.svg_index_button_logout svg rect {
	stroke: #ffffff;
	stroke-dasharray: 50 150;
	stroke-dashoffset: 250;
	stroke-width: 4;
	transition: 1s;
}
.svg_index_button_logout:hover svg rect {
	stroke: rgb(255, 255, 255);
	stroke-dasharray: 200 0;
	stroke-dashoffset: 0;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
.headline {
	font-family: "Roboto", Arial, sans-serif;
	font-weight: 700;
	font-size: 170px;
	margin-bottom: 5px;
	text-transform: uppercase;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
.headline-2 {
	padding-top: 100px;
	font-family: "Roboto", Arial, sans-serif;
	background: 0 0;
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	display: inline-block;
}

@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
.headline-3 {
	font-family: "Roboto", Arial, sans-serif;
	background: 0 0;
	font-weight: 600;
	font-size: 70px;
	line-height: 60px;
	display: inline-block;
}

.index_buttons {
	padding-top: 300px;
	height: 60px;
	position: relative;
}

.mint_buttons_container {
	height: 50vh;
	position: relative;
}

.container-2 {
	padding-top: 100px;
	text-align: center;
}

#mint_reminder {
	color: #ffffff;
}

.loading {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #121212;
	z-index: 9999;
}

.loading-text {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	text-align: center;
	width: 100%;
	height: 100px;
	line-height: 100px;
}
.loading-text span {
	display: inline-block;
	margin: 0 0px;
	font-size: 25px;
	color: #fff;
	font-family: "Quattrocento Sans", sans-serif;
}
.loading-text span:nth-child(1) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 0s infinite linear alternate;
	animation: blur-text 1.5s 0s infinite linear alternate;
}
.loading-text span:nth-child(2) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 0.2s infinite linear alternate;
	animation: blur-text 1.5s 0.2s infinite linear alternate;
}
.loading-text span:nth-child(3) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 0.4s infinite linear alternate;
	animation: blur-text 1.5s 0.4s infinite linear alternate;
}
.loading-text span:nth-child(4) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 0.6s infinite linear alternate;
	animation: blur-text 1.5s 0.6s infinite linear alternate;
}
.loading-text span:nth-child(5) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 0.8s infinite linear alternate;
	animation: blur-text 1.5s 0.8s infinite linear alternate;
}
.loading-text span:nth-child(6) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 1s infinite linear alternate;
	animation: blur-text 1.5s 1s infinite linear alternate;
}
.loading-text span:nth-child(7) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 1.2s infinite linear alternate;
	animation: blur-text 1.5s 1.2s infinite linear alternate;
}
.loading-text span:nth-child(8) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 1.4s infinite linear alternate;
	animation: blur-text 1.5s 1.4s infinite linear alternate;
}
.loading-text span:nth-child(9) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 1.6s infinite linear alternate;
	animation: blur-text 1.5s 1.6s infinite linear alternate;
}
.loading-text span:nth-child(10) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 1.8s infinite linear alternate;
	animation: blur-text 1.5s 1.8s infinite linear alternate;
}
.loading-text span:nth-child(11) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 2s infinite linear alternate;
	animation: blur-text 1.5s 2s infinite linear alternate;
}
.loading-text span:nth-child(12) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 2.2s infinite linear alternate;
	animation: blur-text 1.5s 2.2s infinite linear alternate;
}
.loading-text span:nth-child(13) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 2.4s infinite linear alternate;
	animation: blur-text 1.5s 2.4s infinite linear alternate;
}
.loading-text span:nth-child(14) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 2.6s infinite linear alternate;
	animation: blur-text 1.5s 2.6s infinite linear alternate;
}
.loading-text span:nth-child(15) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 2.8s infinite linear alternate;
	animation: blur-text 1.5s 2.8s infinite linear alternate;
}
.loading-text span:nth-child(16) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 3s infinite linear alternate;
	animation: blur-text 1.5s 3s infinite linear alternate;
}
.loading-text span:nth-child(17) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 3.2s infinite linear alternate;
	animation: blur-text 1.5s 3.2s infinite linear alternate;
}
.loading-text span:nth-child(18) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 3.4s infinite linear alternate;
	animation: blur-text 1.5s 3.4s infinite linear alternate;
}
.loading-text span:nth-child(19) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 3.6s infinite linear alternate;
	animation: blur-text 1.5s 3.6s infinite linear alternate;
}
.loading-text span:nth-child(20) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 3.8s infinite linear alternate;
	animation: blur-text 1.5s 3.8s infinite linear alternate;
}
.loading-text span:nth-child(21) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 4s infinite linear alternate;
	animation: blur-text 1.5s 4s infinite linear alternate;
}
.loading-text span:nth-child(22) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 4.2s infinite linear alternate;
	animation: blur-text 1.5s 4.2s infinite linear alternate;
}
.loading-text span:nth-child(23) {
	filter: blur(0px);
	-webkit-animation: blur-text 1.5s 4.4s infinite linear alternate;
	animation: blur-text 1.5s 4.4s infinite linear alternate;
}

@-webkit-keyframes blur-text {
	0% {
		filter: blur(0px);
	}
	100% {
		filter: blur(2px);
	}
}

@keyframes blur-text {
	0% {
		filter: blur(0px);
	}
	100% {
		filter: blur(2px);
	}
}

#minting {
	border-right: solid 3px rgba(0, 255, 0, 0.75);
	white-space: nowrap;
	overflow: hidden;
	font-family: "Source Code Pro", monospace;
	font-size: 40px;
	color: #ffffff;
}

/* Animation */
#minting {
	animation: animated-text 4s steps(29, end) 1s 1 normal both, animated-cursor 600ms steps(29, end) infinite;
}

/* text animation */

@keyframes animated-text {
	from {
		width: 0;
	}
	to {
		width: 575px;
	}
}

/* cursor animations */

@keyframes animated-cursor {
	from {
		border-right-color: rgba(253, 0, 0, 0.75);
	}
	to {
		border-right-color: transparent;
	}
}

#centeralign {
	font-size: 40px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 50;
}

.filter {
	font-size: 15px;
	margin-top: 20px;
	margin-bottom: 20px;
	display: flex;
	justify-content: center;
}

.btn-sort {
	color: rgb(255, 255, 255);
	margin-left: 30px;
	background-color: #121212;
	background: transparent;
	border-radius: 10px;
	border: none;
}

.btn-sort:hover {
	color: rgb(255, 0, 0);
	margin-left: 30px;
	background-color: #121212;
	background: transparent;
	border: none;
}

.clearSearch {
	color: rgb(0, 255, 115);
	margin-left: 30px;
	background-color: #121212;
	background: transparent;
	border-radius: 10px;
	border: none;
}

.clearSearch:hover {
	color: rgb(255, 0, 0);
	margin-left: 30px;
	background-color: #121212;
	background: transparent;
	border: none;
}

.flexbox {
	margin-left: 400px;
	display: flex;
	justify-content: center;
}

.search > h3 {
	font-weight: normal;
}

.search > h1,
.search > h3 {
	color: white;
	margin-bottom: 15px;
	text-shadow: 0 1px #0091c2;
}

.search > div {
	display: inline-block;
	position: relative;
	filter: drop-shadow(0 1px #0091c2);
}

.search > div:after {
	content: "";
	background: white;
	width: 4px;
	height: 10px;
	position: absolute;
	top: 19px;
	right: 0px;
	transform: rotate(135deg);
}

.search > div > input {
	color: white;
	font-size: 16px;
	background: transparent;
	width: 25px;
	height: 25px;
	padding: 10px;
	border: solid 3px white;
	outline: none;
	border-radius: 35px;
	transition: width 0.5s;
}

.search > div > input::placeholder {
	color: #f8f8f8;
	opacity: 0;
	transition: opacity 150ms ease-out;
}

.search > div > input:focus::placeholder {
	opacity: 1;
}

.search > div > input:focus,
.search > div > input:not(:placeholder-shown) {
	width: 250px;
}

form {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}

label {
	display: flex;
	cursor: pointer;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.375em;
}
label input {
	position: absolute;
	left: -9999px;
}
label input:checked + span {
	background-color: #121212;
}
label input:checked + span:before {
	box-shadow: inset 0 0 0 0.4375em #ffffff;
}
label span {
	display: flex;
	align-items: center;
	padding: 0.375em 0.75em 0.375em 0.375em;
	border-radius: 99em;
	transition: 0.25s ease;
}
label span:hover {
	background-color: #121212;
}
label span:before {
	display: flex;
	flex-shrink: 0;
	content: "";
	background-color: #121212;
	width: 1.5em;
	height: 1.5em;
	border-radius: 50%;
	margin-right: 0.375em;
	transition: 0.25s ease;
	box-shadow: inset 0 0 0 0.125em #ffffff;
}

.radio-switch {
	margin-left: 50px;
}
